{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/e1984"]}.
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
           ]
}.
{deps,
 [
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {erlcloud, ".*", {git, "https://github.com/couchemar/erlcloud.git", "master"}}
 ]
}.

% Включим покрытие в тестах.
{cover_enabled, true}.
